header {
  .intro {
    max-width: 800px;
    margin: 0 auto;
    h2 {
      margin: 20px 0px;
      padding: 0px;
    }
    p {
      padding-bottom: 20px;
      border-bottom: 2px dashed @navigation-border;
    }
  }
}

.home {
  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .text-content {
      width: 48%;
      padding-right: 1%;
      @media @mobile {
        width: 100%;
        padding: 0px;
        text-decoration: justify;
      }
    }

    .img-content {
      width: 48%;
      padding-left: 1%;

      img {
        border-radius: 10px;
      }
      @media @mobile {
        width: 100%;
      }
    }
    @media @mobile {
      flex-direction: column;
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }
    @media @mobile {
      flex-direction: column-reverse;
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;

    img {
      border-radius: 10px;
    }
    @media @mobile {
      width: 100%;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    .destination {
      width: 30%;
      margin-bottom: 30px;
      @media @mobile {
        width: 80%;
      }
    }
    .btn {
      .button-mixin(@button-bg, lightyellow);
      width: 80%;
      border-radius: 10px;
      font-size: 2em;
      padding: 10px 5px;
      text-align: center;
      @media @mobile {
        width: 100%;
        background-color: lighten(@button-bg, 5%)
      }
    }
    @media @mobile {
      flex-direction: column;
      align-items: center;
    }
  }
} // home
